*{
    font-family: 'Segoe UI', sans-serif;
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(135deg, #153677, #4e085f);
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}
.weather__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
input{
    padding: 10px 20px;
    max-width: 100%;
    width: 200px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 8px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
input:focus{
    color: rgb(71, 71, 85);
}
button{
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    background-color: #ffffff;
    color: #2980b9;
    transition: background-color 0.3s;
}
button:hover{
    background-color: #d6e6f2;
    transform: scale(1.02);
    transition: all 0.3s; 
}
.result{
    margin: 0 auto;
    padding: 10px;
    max-width: 100%;
    width: 350px;
    color: white;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.result__box{
    text-align: center;
}
p{
    font-size: 20px;
    padding: 5px 10px;
    border: 1px solid wheat;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 300px;
}
p:hover{
    transform: scale(1.05);
    transition: all 0.6s;
}
@media only screen and (max-width:700px) {
    .weather__container{
        flex-direction: column;
    }
    button{
        max-width: 100%;
        width: 200px;
    }
}